---
layout: layout.njk
title: Online în siguranță
---
<!-- Secțiunea 1 - Home -->
    <section id="home" class="fullscreen home-bg">
      <div class="container">
        <div class="text-background">
          <h1><span class="highlight">fii</span> Online <span class="highlight">în siguranță</span></h1>
            <p>
              <a href="#ajutor" class="cta-link">Cere ajutor</a>,
              <a href="#educatie" class="cta-link">educă-te</a>,
              <a href="#protectie" class="cta-link">protejează-te</a>,
              <a href="#ajuta" class="cta-link">ajută pe alții</a>!
            </p>
          
          </div> 
      </div>
    </section>

    <!-- Secțiunea 2 - Educatie -->
    <section id="educatie" class="fullscreen-auto">
      <div class="container">
      <h2>Educație</h2>
      <div class="fullscreen-content">
        
          <p class="intro-text">
            Într-o lume din ce în ce mai conectată, educația digitală nu mai este un lux, ci o necesitate. Fie că vorbim despre utilizarea internetului sau a dispozitivelor inteligente, fiecare interacțiune online vine cu riscuri care pot fi prevenite prin informare. Este esențial ca toți utilizatorii – indiferent de vârstă sau nivel de experiență – să se educe pentru a naviga în siguranță, a-și proteja datele și a contribui la un mediu digital mai sigur. Iată 5 motive esențiale pentru care educația în mediul online este crucială:
          </p>
          <div class="card-row">
            <div class="card">
              <img src="images/pers.png" alt="Protecția datelor" class="icon-img">
              <h3>1. Protecția datelor personale</h3>
              <p>Învață cum să îți protejezi datele personale și ce informații să nu publici sau să nu comunici persoanelor pe care nu le cunoști.</p>
            </div>
          
            <div class="card">
              <img src="images/atac.png" alt="Atacuri cibernetice" class="icon-img">
              <h3>2. Prevenirea atacurilor cibernetice</h3>
              <p>Un utilizator educat știe cum să recunoască și să să evite comunicarea cu infractorii, linkurile periculoase, aplicațiile nesigure și alte amenințări.</p>
            </div>
          
            <div class="card">
              <img src="images/gand.png" alt="Gândire critică" class="icon-img">
              <h3>3. Gândire critică și filtrarea informațiilor</h3>
              <p>Educația digitală te ajută să recunoști dezinformarea, manipularea și știrile false pentru a lua decizii corecte.</p>
            </div>
          
            <div class="card">
              <img src="images/protect.png" alt="Protejarea celor vulnerabili" class="icon-img">
              <h3>4. Protejarea celor vulnerabili</h3>
              <p>Educatorii și părinți corect educați pot ghida copiii și persoanele vulnerabile spre o experiență online plăcută,sigură și responsabilă.</p>
            </div>
          
            <div class="card">
              <img src="images/safe.png" alt="Internet sigur" class="icon-img">
              <h3>5. Un internet mai sigur pentru toți</h3>
              <p>O comunitate educată înseamnă un spațiu digital mai curat, mai sigur și mai sănătos pentru fiecare utilizator.</p>
            </div>
          </div>
          <p class="center-text">Să ne educăm deci!</p>
          <a href="education.html" class="btn">Mai mult</a>
        </div>
      </div>
    </section>
    
    <!-- Secțiunea 3 - Fraude -->
    <section id="fraude" class="fullscreen-auto fraude-bg">
      
      <div class="container">
        <h2>Fraude</h2>
      <div class="fullscreen-content">
        
          <p class="intro-text-foto">
            Într-o lume din ce în ce mai conectată, educația digitală nu mai este un lux, ci o necesitate. Fie că vorbim despre utilizarea internetului sau a dispozitivelor inteligente, fiecare interacțiune online vine cu riscuri care pot fi prevenite prin informare. Este esențial ca toți utilizatorii – indiferent de vârstă sau nivel de experiență – să se educe pentru a naviga în siguranță, a-și proteja datele și a contribui la un mediu digital mai sigur. Iată 5 motive esențiale pentru care educația în mediul online este crucială:
          </p>
          <div class="card-row">
            <div class="card">
              <img src="images/pers.png" alt="Protecția datelor" class="icon-img">
              <h3>1. Protecția datelor personale</h3>
              <p>Învață cum să îți protejezi datele personale și ce informații să nu publici sau să nu comunici persoanelor pe care nu le cunoști.</p>
            </div>
          
            <div class="card">
              <img src="images/atac.png" alt="Atacuri cibernetice" class="icon-img">
              <h3>2. Prevenirea atacurilor cibernetice</h3>
              <p>Un utilizator educat știe cum să recunoască și să să evite comunicarea cu infractorii, linkurile periculoase, aplicațiile nesigure și alte amenințări.</p>
            </div>
          
            <div class="card">
              <img src="images/gand.png" alt="Gândire critică" class="icon-img">
              <h3>3. Gândire critică și filtrarea informațiilor</h3>
              <p>Educația digitală te ajută să recunoști dezinformarea, manipularea și știrile false pentru a lua decizii corecte.</p>
            </div>
          
            <div class="card">
              <img src="images/protect.png" alt="Protejarea celor vulnerabili" class="icon-img">
              <h3>4. Protejarea celor vulnerabili</h3>
              <p>Educatorii și părinți corect educați pot ghida copiii și persoanele vulnerabile spre o experiență online plăcută,sigură și responsabilă.</p>
            </div>
          
            <div class="card">
              <img src="images/safe.png" alt="Internet sigur" class="icon-img">
              <h3>5. Un internet mai sigur pentru toți</h3>
              <p>O comunitate educată înseamnă un spațiu digital mai curat, mai sigur și mai sănătos pentru fiecare utilizator.</p>
            </div>
          </div>
          <p class="center-text">Să ne informam deci!</p>
          <a href="fraud.html" class="btn">Mai mult</a>
        </div>
      </div>
    </section>
    

    <!-- Secțiunea 4 - Blog -->
    <section id="blog" class="fullscreen-auto">
      <div class="container">
        <h2>Blog</h2>
        <div class="fullscreen-content">
          <div class="container">
            <p class="intro-text">
              Într-o lume din ce în ce mai conectată, educația digitală nu mai este un lux, ci o necesitate. Fie că vorbim despre utilizarea internetului sau a dispozitivelor inteligente, fiecare interacțiune online vine cu riscuri care pot fi prevenite prin informare. Este esențial ca toți utilizatorii – indiferent de vârstă sau nivel de experiență – să se educe pentru a naviga în siguranță, a-și proteja datele și a contribui la un mediu digital mai sigur. Iată 5 motive esențiale pentru care educația în mediul online este crucială:
            </p>
              <div class="blog-container">
            <article>
            <h3>Articol 1</h3>
            <p>Rezumatul primului articol...</p>
            <a href="#">Citește mai mult</a>
            </article><article>
            <h3>Articol 2</h3>
            <p>Rezumatul primului articol...</p>
            <a href="#">Citește mai mult</a>
            </article>
            <article>
            <h3>Articol 3</h3>
            <p>Rezumatul primului articol...</p>
            <a href="#">Citește mai mult</a>
            </article>
            <article>
            <h3>Articol 4</h3>
            <p>Rezumatul celui de-al doilea articol...</p>
            <a href="#">Citește mai mult</a>
            </article>
          </div>
        <a href="blog.html" class="btn">Mai mult</a>
      </div>
    </div>
    </section>

    <!-- Secțiunea 5 - newsletter -->
    <section id="newsletter">
      <div class="container section-center newsletter-center">
        <div class="newsletter-title">
          <h3>Vrei să fii in temă cu noile riscuri si tendințe?</h3>
          <p>Abonează-te la newsletter-ul sămtămânal ca să fii în temă!</p>
        </div>
          <form class="newsletter-form">
            <input type="email" class="form-control" placeholder="Introdu emailul:" />
            <button type="submit" class="btn">Salvează</button>
          </form>
        </div>
    </section>

    <!-- Secțiunea 5 - Your story -->
    <section id="newsletter">
      <div class="container section-center newsletter-center">
        <div class="newsletter-title">
          <h3>Spune altora despre experiența ta!</h3>
          <p>Dacă ai trecut printr-o experienta placută sau neplacută în mediul online, transmite-ne un mesaj prin formularul de contact de mai jos astfel încât </p>
        </div>
      <form class="newsletter-form">
          <input type="email" class="form-control" placeholder="Introdu emailul:" />
          <button type="submit" class="btn">Salvează</button>
      </form>
  </div>
</section>

    <!-- Secțiunea 6 - Contact -->
    <section id="contact">
        <h2>Contactează-ne</h2>
        <form>
            <input type="text" placeholder="Nume" required>
            <input type="email" placeholder="Email" required>
            <textarea placeholder="Mesaj" required></textarea>
            <button type="submit">Trimite</button>
        </form>
    </section>